<!-- Modal Structure -->
<div id="noteModal" class="modal modal-fixed-footer">
  <div class="modal-content">

    <div class="saved-notes">
      <h4 class="center-align">Saved Article Notes</h4>
      <div class="saved-note-items">
        <p class="center-align">
          No Saved Notes
        </p>
      </div>
    </div>

    <div class="new-note-container row">
      <form action="" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="new-note" class="materialize-textarea" required></textarea>
            <label for="new-note">Add New Note</label>
          </div>
        </div>
      </form>
    </div>

  </div>
  <div class="modal-footer">
    {{!--
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat cancel">cancel</a> --}}
    <a href="#!" id="addNote" class="modal-action modal-close waves-effect orange waves-green btn-flat save" data-id="#!">Save Note</a>
  </div>
</div>