<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/assets/css/reset.css">

    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> {{!-- Font --}}
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:700" rel="stylesheet"> {{!-- Raleway Font --}}
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> {{!-- Shadows Font --}}
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet"> {{!-- Pontano Sans Font --}}
    <link href="https://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css">

    <title>Your Union</title>
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />

</head>

<body>
    <!-- Dropdown Structure -->

    <nav>
        <div class="nav-wrapper teal lighten-2" id="navigation-bar">
            <a href="/" class="brand-logo left">
                <p class="site-title">Your Union Scraper</p>
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    {{!-- get new articles --}}
                    <a id="scrape" class="waves-effect waves-yellow btn red">Get New Articles
                        <i class="material-icons right">autorenew</i>
                    </a>
                </li>
                <li>
                    {{!-- get saved articles --}}
                    <a href="/saved" class="waves-effect waves-yellow btn orange">Saved Articles
                        <i class="material-icons right">save</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    {{{body}}}

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2018 Copyright Text
                <a class="grey-text text-lighten-4 right" href="http://www.unionleader.com/" target="_blank">UnionLeader News</a>
            </div>
        </div>
    </footer>

    <!-- Compiled and minified JavaScript for Materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>