<div class="parallax-container">
    <div class="parallax">
        <img src="/assets/images/main.jpg">
    </div>
</div>
<div class="section white">
    <div class="row container">
        <h2 id="article-header" class="header">Union Leader Headlines</h2>
        <div>
            <table class="table-responsive highlight bordered">
                <tbody id='articles'>
                    <tr>
                        <td>Please scrape for new articles...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="./assets/js/initialization.js"></script>
<script src="./assets/js/scrapeUnion.js"></script>
<script src="./assets/js/saveArticle.js"></script>