<div class="parallax-container">
    <div class="parallax">
        <img src="/assets/images/saved.jpg" alt="Photo by Savs on Unsplash">
    </div>
</div>
<div class="section index-section">
    <div class="row container">
        <h2 id="saved-article-header" class="header">Your Saved Articles</h2>
        <div>
            <table class="table-responsive highlight bordered">
                <tbody id='saved-articles'>
                    {{#each articles}}
                    <tr>
                        <td>
                            <h5>{{title}}</h5>
                            <p>{{summary}}</p>
                        </td>
                        <td colspan="2">
                            <div class='saved-options'>
                                <a href="#noteModal" class="waves-effect waves-green btn purple modal-trigger view-note" data-id="{{_id}}">Notes</a>
                                <a class="btn-floating btn-medium waves-effect waves-light red delete-note" data-id="{{_id}}">
                                    <i class="medium material-icons delete-article-icon">delete</i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{> note }}

<script src="./assets/js/initialization.js"></script>
<script src="./assets/js/scrapeUnion.js"></script>
<script src="./assets/js/savedArticles.js"></script>
<script src="./assets/js/saveArticle.js"></script>