body {
    display: flex;
    min-height: 100vh;
    min-width: 450px;
    flex-direction: column;
    background-color: #555;
    color: #fff;
}

.brand-logo {
    font-size: 3em !important;
    height: 65px !important;
    width: auto !important;
    margin: 0px 15px;
    font-family: 'Raleway';
    font-weight: 1px;
}

nav .brand-logo {
    min-width: 27rem;
}

.side-nav {
    background-color: lightgrey;
}

.menu-icon{
    font-size: 35px !important;
}

.parallax-container {
    height: 450px;
}

/* hover over table row */

.index-section{
    margin-bottom: 3rem;
}

table.highlight>tbody>tr:hover {
    color: #444;
}

.article-cell {
    padding: 20px 10px;
}

h1 {
    text-align: center !important;
}

h2 {
    font-size: 30px !important;
    text-align: center !important;
}

.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

/* ========================== */

/* ======SAVED ARTICLE PAGE========= */

/* div holding buttons */
.saved-options {
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.view-note {
    margin: 5px;
    padding: 0 1rem;
}

.delete-article {
    margin: 5px;
}

.delete-article-icon:hover {
    color: #ff9800;
    -ms-transform: rotate(25deg);
    /* IE 9 */
    -webkit-transform: rotate(25deg);
    /* Chrome, Safari, Opera */
    transform: rotate(25deg);
    -webkit-transition-duration: .3s;
    /* Safari 4.0 - 8.0 */
    transition-duration: .3s;
}

.delete-article-icon {
    -webkit-transition-duration: .6s;
    /* Safari 4.0 - 8.0 */
    transition-duration: .6s;
}

/* modal */

/* model text */
#noteModal{
    color: #444;
}

.saved-notes {
    margin-bottom: 2rem;
}

.new-note-container{
    margin: 2rem 0;
}

/* saved notes */

/* container */

#saved-note-items{
    margin: 3rem 1rem; 
}
.note-item{
    margin: 1.5rem 1rem;
}

.note-text{
    overflow-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 36px !important; /* making div at least as high as delete button -- alignment*/
}

/* saved note delete button */
.deleteNote{
    width: 3.5rem !important;
    min-width: 45px !important;
}