body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.brand-logo {
    font-size: 3em !important;
    height: 65px !important;
    width: auto !important;
    margin: 0px 15px;
    font-family: 'Raleway';
    font-weight: 1px;
}

.parallax-container {
    height: 450px;
}

.article-cell{
    padding: 20px 10px;
}
h1 {
    text-align: center !important;
}

h2 {
    font-size: 30px !important;
    text-align: center !important;
}

.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

